@{
	
}

<div class="contact-page">
	<section>
		<div class="col-md-12">
			<div class="container mt-4">
				<article>
					<div class="about-image">
						<div class="about-image-heading">
							<h1>About Us</h1>
						</div>
						<img src="/images/about.png" class="w-100" alt="About Us" title="About Us">
					</div>

					<div class="">
						<p>Are you in need of cash immediately? Or you are in need of money that could not be drawn at a time through ATM? You do not want to borrow it from your friends or family , Here at cash on credit card in India provides you instant cash against credit card facility. Easy Money is one of the best financial cash on credit card firm in India who are providing you cash at any emergency with many offers and benefits.</p>

						<p>Carry an ID proof and address proof along with your credit card to avail this service immediately. You will be able to withdraw cash once you provide those proofs. Whatever the card type is, through cash on credit card you will be able to receive the money on spot.</p>

						<p>Cash against credit card will be provided based on the limit of your credit card. Now get instant cash for credit card with less interest though us and avail the benefits.</p>

						<p>Most of the People have cash challenges when it comes to health. So financially Easy Money can help you with our various services</p>

						<p>
							<ol>
								<li> Instant Cash from Any Credit Card in India</li>
								<li>Credit Card to Cash in India</li>
							</ol>
						</p>

						<p class="font-weight-bold">Instant Cash from Any Credit Card in India:</p>

						<p>Do you have a credit card? And you are in need of money immediately? Then this services would be opt for you. We provide credit card to cash immediately with this service. Swipe the VISA/Master/American Express Credit Card and get the instant cash and enjoy the benefits of this services. Just your ID and address proof is enough to make use of this service.</p>

						<p class="font-weight-bold">Credit Card to Cash in India</p>

						<p>We provide facility to transfer the money to your Bank Account's from your Credit Cards instantly/Next Day and also you no need to submit any special documentation for this service in India. Just your ID and Address Proof is enough to make use of this service. </p>

					</div>				

				</article>
			</div>
		</div>
	</section>


</div>