@{

}

<div class="contact-page">

	<section id="">
		<div class="container">

			<div class="row mt-0">

				<div class="col-md-12">
					<div class="address">
						<h4 class="h4-text"><i class="fa fa-envelope"></i> Contact Details</h4>
						<br>
                        <address>
                            <i class="fa fa-map-marker"></i>
                            <strong style="color: grey;">Address:</strong><br>
                            <span dir="ltr" class="text-dark">All Over India</span>
                        </address>
						<p>
							<i class="fa fa-phone"></i>
							<strong style="color: grey;">Mobile:</strong><br>
							<a href="tel:+91-9498393812"><span class="text-dark" dir="ltr">+91- 9498 3938 12</spanclass="text-dark"></a>
						</p>
						<p>
							<i class="fa fa-whatsapp"></i>
							<strong style="color: grey;">Whatsapp:</strong><br>
							<a href="https://wa.me?919498393812"><span dir="ltr" class="text-dark">+91- 9498 3938 12</span></a>
						</p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <strong style="color: grey;">Working Times:</strong><br>
                                                                                <span dir="ltr" class="text-dark">7AM to 11PM All days</span>
                            
                        </p>
					</div>

				</div>

			</div>
		</div>
	</section>

</div>
