@{

}

<div class="contact-page">

	<section id="">
		<div class="container">

			<div class="row mt-0">

				<div class="col-md-12">
					<div class="address">
						<h4 class="h4-text"><i class="fa fa-envelope"></i> Contact Details</h4>
						<br>
						<p class="display-4">
							<i class="fa-solid fa-building"></i>
						<span dir="ltr" class="text-dark">All Over India</span>
						</p>
						<p class="display-4">
							<i class="fa-solid fa-mobile-screen-button"></i>
							<span dir="ltr" class="text-dark">+91- 9445 9446 01</span>
						</p>
						<p class="display-4">
							<i class="fab fa-whatsapp"></i>
							<span dir="ltr" class="text-dark">+91- 9445 9446 01</span>
						</p>
						<p class="display-4">
							<i class="fa-solid fa-business-time"></i>
							<span dir="ltr" class="text-dark">7AM to 11PM All Days</span>
						</p>
					</div>

				</div>

			</div>
		</div>
	</section>

</div>
