@{

}
<main>

	<section class="section-base">
		<div class="container">
			<div class="row  ">
				<div class="col-lg-6">
					<h1 data-anima="fade-left" data-time="2000" class="text-lg text-uppercase text-black">India's Cheapest DSC Seller</h1>
					<hr class="space-sm" />
					<p data-anima="fade-left" data-time="2000">
						All India Authorized Seller of E-mudhra, Capricon, and many more Digital Signature Certificate, Usb Token at cheapest price starting at 312*/-
					</p>
					<hr class="space-sm" />
					<a href="#" class="btn btn-sm btn-circle" data-anima="fade-left" data-time="3000">View services</a>
					<a href="#" class="btn btn-sm btn-circle btn-border" data-anima="fade-left" data-time="3000">View team</a>
				</div>
				<div class="col-lg-6">
					<hr class="space-sm visible-md" />
					<ul class="slider" data-options="type:slider,perView:1,nav:true,autoplay:3500,controls:out" data-anima="fade-right" data-time="2000">
						<li>
							<a class="img-box lightbox" href="/themekit/media/wide.png" data-lightbox-anima="fade-top">
								<img src="/themekit/media/wide.png" alt="">
							</a>
						</li>
						<li>
							<a class="img-box lightbox" href="/themekit/media/wide.png" data-lightbox-anima="fade-top">
								<img src="/themekit/media/wide.png" alt="">
							</a>
						</li>
						<li>
							<a class="img-box lightbox" href="/themekit/media/wide.png" data-lightbox-anima="fade-top">
								<img src="/themekit/media/wide.png" alt="">
							</a>
						</li>
						<li>
							<a class="img-box lightbox" href="/themekit/media/wide.png" data-lightbox-anima="fade-top">
								<img src="/themekit/media/wide.png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<hr class="space-lg" />
			<div class="row" data-anima="fade-bottom" data-time="1000" data-timeline="asc">
				<div class="col-lg-4 anima">
					<div class="cnt-box cnt-box-top-icon boxed align-center">
						<i class="im-chef-hat2"></i>
						<div class="caption">
							<h2>Multi Brand Dealer</h2>
							<p>
								We are a Certifying Authority licensed by Controller of Certifying Authorities, under Government of India.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 anima">
					<div class="cnt-box cnt-box-top-icon boxed align-center">
						<i class="im-shop-4"></i>
						<div class="caption">
							<h2>WHY Cheap DSC</h2>
							<p>
								6 Years of Experience | Recognized RA | 50 + Associates | 50k+ DSC ISSUED | Team of Professionals
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 anima">
					<div class="cnt-box cnt-box-top-icon boxed align-center">
						<i class="im-heart"></i>
						<div class="caption">
							<h2>Mission</h2>
							<p>
								To help customers in transact securely over the web with his/her unique identify at cheapest cost in India.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-base">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4">
					<div class="title">
						<h2>About us</h2>
						<p>Only Place to get all digital Signature Product at cheap price with best service in India.</p>
					</div>
					<hr class="space-xs">
					<p>
						Cheap DSC is currently serving all over India serving all pin code in India.
					</p><hr class="space-xs">
					<p>
						Price starting at 312*/-
						</p>
				</div>
				<div class="col-lg-4 no-margin-md">
					<p>
						Cheap DSC "An Award Winning Company" is a licensed Registration Authority under Information Technology Act 2000 of India for issuance of Digital Signature Certificates in India. Cheap DSC is a leading PKI Solutions provider, Digital Signature Certificates, eSign Services, Document Signer Certificate, Code Signing Certificates, Signing Certificates, Encryption Certificates.
					</p>
				</div>
				<div class="col-lg-4">
					<ul class="text-list text-list-line line-4">
						<li><b>Foundation</b><hr><p>2015</p></li>
						<li><b>Address</b><hr><p>All India</p></li>
						<li><b>Email</b><hr><p>enquiry@cheapdsc.com</p></li>
						<li><b>Phone and fax</b><hr><p>(044)22416011</p></li>
						<li><b>Team members</b><hr><p>50+</p></li>
						<li><b>Serving PinCodes</b><hr><p>15k+</p></li>
						<li><b>Starting price</b><hr><p>from 312 INR</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="section-image" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="100" data-image-src="/themekit/media/hd-empty.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="progress-bar">
						<h4>Class 3 Digital Signature Certificate</h4>
						<div>
							<div data-progress="95" data-trigger="null" style="width: 50%;">
								<span class="counter" data-to="95" data-speed="2000" data-unit="%" data-trigger="null">9580</span>
							</div>
						</div>
					</div>
					<hr class="space-sm">
					<div class="progress-bar">
						<h4>Usb Token</h4>
						<div>
							<div data-progress="61" data-trigger="null" style="width: 100%;">
								<span class="counter" data-to="61" data-speed="2000" data-unit="%" data-trigger="null">6116</span>
							</div>
						</div>
					</div>
					<hr class="space-sm">
					<div class="progress-bar">
						<h4>DGFT</h4>
						<div>
							<div data-progress="29" data-trigger="null" style="width: 70%;">
								<span class="counter" data-to="29" data-speed="2000" data-unit="%" data-trigger="null">2944</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="title">
						<h2>2022 Sales Count</h2>
						<p>What We Sold on 2022</p>
					</div>
					<p>Overall Sales by Cheap Dsc Team in 2022 in Class 3 Digital Signature Certificate, DGFT, Usb Token.</p>
				</div>
			</div>
		</div>
	</section>

</main>