@{

}

<main>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="title">
						<h2>404 Not Found</h2>
					</div>
					Thanks for reaching Us, the required Page doesnt Exists.<br />
					You may check the main menu for the correct Page to Navigate
				</div>
			</div>
		</div>
	</section>
</main>
