@{
	
}

<div class="contact-page">
	<section>
		<div class="col-md-12">
			<div class="container mt-4">
				<article>
					<div class="about-image">
						<div class="about-image-heading">
							<h1>404 Not Found</h1>
						</div>
						<img src="/images/about.png" class="w-100" alt=">Not Found" title=">Not Found">
					</div>			
				</article>
			</div>
		</div>
	</section>


</div>