################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PublicWebsite/.vs
/PublicWebsite/bin
/PublicWebsite/obj
/PublicWebsite/packages
