<html>
<head>
	@Html.Partial("_Seo")
	<script src="/themekit/scripts/jquery.min.js"></script>
	<script src="/themekit/scripts/main.js"></script>
	<link rel="stylesheet" href="/themekit/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/themekit/css/style.css">
	<link rel="stylesheet" href="/themekit/css/glide.css">
	<link rel="stylesheet" href="/themekit/css/magnific-popup.css">
	<link rel="stylesheet" href="/themekit/css/content-box.css">
	<link rel="stylesheet" href="/themekit/css/media-box.css">
	<link rel="stylesheet" href="/themekit/css/contact-form.css">
	<link rel="stylesheet" href="/themekit/css/skin.css">
	<link rel="icon" href="/themekit/media/favicon.png">
</head>
<body>
	<div id="preloader"></div>
	@Html.Partial("NewTheme/_Nav")
		@RenderBody()
	
	@Html.Partial("NewTheme/_Footer")
</body>
</html>
<script>
	function ReLoadImages() {
		setTimeout(() => {
			$('img[data-lazysrc1]').each(function () {
				$(this).attr('src', $(this).attr('data-lazysrc1'));
				$(this).removeAttr('data-lazysrc1');
			})
		}, 40);
	}
	$(document).ready(ReLoadImages);
</script>