#related_topics {
    color: #0cbaa4;
    margin-bottom: 15px;
    margin-top: 36px;
}

#related_topics a {
    color: #0cbaa4;
}

#generic p {
    font-weight: 700;
    color: gray;
}

#combo p {
    margin-bottom: 0px;
}

#signing p {
    margin-bottom: 0px;
}