#collapsibleNavbar a {
    color: grey;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}

#collapsibleNavbar a:hover {
    color: #0cbaa4;
}

#phone {
    padding-right: 15px !important;
    border-right: 1px solid white;
}

#mail {
    padding-left: 15px;
}

#bg {
    background-color: #0cbaa4;
}

#questions {
    font-weight: 700;
}

#questions p {
    color: #666666;
}

#questions a {
    color: black;
}

#class {
    margin-bottom: 0px !important;
}

#bg i {
    padding-top: 5px;
    color: white;
    font-size: 18px;
    /* padding: 2px; */
    padding-bottom: 6px;
}

#bg i:hover {
    color: black;
}

.icon {
    color: grey;
    border: 1px solid bisque;
}

#nav {
    padding-left: 0;
    padding-right: 0;
}

#description {
    font-weight: 300;
    font-size: 14px;
}

#background {
    background-color: #fff;
    box-shadow: 0px 0px 13px lightgrey;
}

.section-2 {
    margin-top: 80px;
}

ul li:hover ul {
    display: block;
    background-color: #0cbaa4;
}

ul li ul li a {
    color: black !important;
}

pre {
    font-weight: 700;
    color: black;
}

#links {
    border: 1px solid lightgray;
    color: #999999;
    font-weight: 700;
    font-size: 13px;
    padding: 5px;
}

#links li {
    padding-right: 10px;
}

#admin {
    border-right: 1px solid #999999;
}

#details {
    background-color: #0cbaa4;
    color: white;
    padding-bottom: 20px;
}

.spacing a {
    color: white;
}

.spacing a:hover {
    text-decoration: none;
    color: gray;
}

.spacing p {
    margin-bottom: 0px !important;
}

.footer {
    font-size: 13px;
    background-color: rgb(56, 51, 51);
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
}

#content {
    padding-top: 120px;
}

#content h6 {
    padding-top: 10px;
}

#content h3 {
    padding-bottom: 7px;
}

#content img {
    padding-bottom: 20px;
}

#dashboard {
    padding-top: 7px;
    font-weight: 700;
}

#decoration {
    padding-top: 16px;
}

#fb {
    color: blue;
    font-size: 19px;
}

#twitter {
    color: deepskyblue;
    ;
    font-size: 19px;
}

#google {
    color: rgb(235, 41, 41);
    font-size: 19px;
}

#linkedin {
    color: royalblue;
    font-size: 19px;
}

#pin {
    color: rgb(165, 24, 24);
    font-size: 19px;
}

#footer_icons a {
    color: white;
    padding: 10px;
}

#footer_icons i {
    margin-right: 2px;
    font-size: 18px;
}