@{

}

<div class="contact-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<article>
					<div class="post-image m-0">
                        <div class="post-heading mt-0 mb-4">
                   
                            <h1>Cheap DGFT Digital Signature Certificate</h1>
                        </div>
						<img data-lazysrc1="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Page/CheapDgft.jpg" class="lazy img-fluid" alt="Credit Card to Cash" title="Credit Card to Cash" style="max-width: 100%;height: auto;">
					</div>
					<div>
						
                        <h1 class="mt-4">DGFT Digital Signature Certificate at Just 312*</h1>
						<div class="mt-2">
							<b>Cheap DSC</b> is a Channel Partner in India that offers DGFT Digital Signature Certificate for Indian Importers and exporters to foreign Trade. All importers and exporters are required to register on the DGFT portal, so you can purchase from <b>Cheap DSC</b> in a paperless manner using an online KYC process.
						</div>
						<h2 class="mt-2">Benefits of buying DGFT Digital Signature Certificate from Cheap DSC</h2>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Cheap Price</li>
									<li><i class="fa fa-check"></i>Completely online and paperless process</li>
									<li><i class="fa fa-check"></i>Best turnaround time in the market</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Low Cost</li>
									<li><i class="fa fa-check"></i>24x7 support throughout the certificate lifecycle</li>
									<li><i class="fa fa-check"></i>Quick reissuance and renewals</li>
								</ul>
							</div>
						</div>
						<h3 class="mt-2">Documents Required for DGFT Digital Signature</h3>
						<div class="mt-2">
							Business registration certificate and IEC registration copy required with applicant basic details. Complete documents list as below:
						</div>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Business certificate GST/MSME, Shop’s registration</li>
									<li><i class="fa fa-check"></i>Import-Export Code (IEC Code) certificate</li>
									<li><i class="fa fa-check"></i>Authorization Letter</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>One Photo</li>
									<li><i class="fa fa-check"></i>Pan Card of applicant</li>
									<li><i class="fa fa-check"></i>Authorized signatory Proof</li>
								</ul>
							</div>
						</div>

						<h3 class="mt-2">How to apply for Cheap DSC DGFT Digital Signature?</h3>
						<div class="mt-2">
							The application process to <b>apply for Cheap DSC DGFT digital signature</b> is completely paperless and online. You can easily complete all processes only in 5 to 10 minutes. No need to physically submit documents, only need to upload them on the portal. Complete steps and process as follow:
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Firstly, Submit all required documents.</li>
									<li><i class="fa fa-check"></i>Completed email and mobile verifications.</li>
									<li><i class="fa fa-check"></i>Then Completed video verification.</li>
									<li><i class="fa fa-check"></i>After that, your DSC will be approved and ready in 30 Minutes.</li>
								</ul>
							</div>
						</div>


						<h3 class="mt-2">DGFT DSC Price in Cheap DSC</h3>
						<div class="mt-2">We provide DGFT DSC at the offer price with full support. Its price depends on its validity. It comes with 1 year and 2 years validity. Its price also depends on the USB token. If you already have a USB token you can use your existing USB token and save cost.</div>
						<h4 class="mt-2 mb-0">Price‌ ‌Details‌ ‌(for‌ ‌Certificate(s)‌ ‌with‌ ‌FIPS‌ ‌Compliant‌ ‌USB‌ ‌token):‌ ‌</h4>
						<div class="row">							
							<div class="col-md-6">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Description</li>
									<li><i class="fa fa-check"></i>‌DGFT Digital ‌Signature‌ ‌Certificate‌</li>
									<li><i class="fa fa-check"></i>‌DGFT Digital ‌Signature‌ ‌Certificate‌</li>
								</ul>
							</div>
							<div class="col-md-3">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Validity</li>
									<li><i class="fa fa-check"></i>1 ‌Year</li>
									<li><i class="fa fa-check"></i>2 ‌Year</li>
								</ul>
							</div>
							<div class="col-md-3">
								<ul class="list-main">
									<li><i class="fa fa-check"></i>Total‌ ‌Price‌ </li>
									<li><i class="fa fa-check"></i>1000</li>
									<li><i class="fa fa-check"></i>1500</li>
								</ul>
							</div>
						</div>

						<h3 class="mt-2">How to Register DSC on DGFT Portal?</h3>
						<div class="mt-2">To register DSC on the DGFT portal follow some steps as below:</div>
						<div class="col-md-12">
							<ul class="list-main">
								<li><i class="fa fa-check"></i>Firstly, Install Java and USB Token Driver on your computer.</li>
								<li><i class="fa fa-check"></i>Install and run embridge utility in your system</li>
								<li><i class="fa fa-check"></i>Then Click on Online register and Login Icon on the portal.</li>
								<li><i class="fa fa-check"></i>Enter your Login credentials and click login.</li>
								<li><i class="fa fa-check"></i>Then Insert DSC and enter IEC Code to start the registration process.</li>
								<li><i class="fa fa-check"></i>Read the Declaration message and select I Agree and submit.</li>
								<li><i class="fa fa-check"></i>After that click “Save and Next” to proceed to registration.</li>
								<li><i class="fa fa-check"></i>Then Check and enter required details as required.</li>
								<li><i class="fa fa-check"></i>Finally, you will receive a message of successful registration on the screen.</li>

							</ul>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>

