@{

}

<header class="header-image" style="background-image: url(&quot;/themekit/media/hd-empty.png&quot;); margin-top: 50px;">
	<div class="container" style="margin-top: 0px; opacity: 1;">
		<h1>@ViewBag.DisplayName</h1>
		<h2>@ViewBag.Title</h2>
		<ol class="breadcrumb">
			<li><a href="https://www.cheapdsc.com">Home</a></li>
			<li><a href="https://www.cheapdsc.com/@ViewBag.CanonicalUri">@ViewBag.DisplayName</a></li>
		</ol>
	</div>
</header>
<main>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<img src="/themekit/media/hd.png" alt="" />
					<hr class="space-sm" />
					<div class="icon-links icon-links-grid icon-social social-colors">
						<a data-social="share-facebook" class="facebook"><i class="icon-facebook"></i></a>
						<a data-social="share-twitter" class="twitter"><i class="icon-twitter"></i></a>
						<a data-social="share-linkedin" class="linkedin"><i class="icon-linkedin"></i></a>
						<a data-social="share-google" class="google"><i class="icon-google"></i></a>
					</div>
					<hr class="space-sm" />
					<p>
						One Stop Place for<strong> @ViewBag.DisplayName </strong>at just <strong>599*/-</strong>
					</p>
					<p>
						Class 3 Digital Signature Certificate is the upgraded version of Class 2 Digital Signature Certificate. By Using This Certificate You can Participate/Bid in Any Kind of On-line Tenders/Auction across India. To participate in the e-tendering process, every vendor is required to use a Class 3 Digital Signatures Certificate.

					</p>
					<p>
						<strong> DESCRIPTION:</strong>

						Class 3 DSC (Digital Signature Certificate) is considered as the best and most secure form of digital signature certificate. This is the only reason, it is used for online transaction process. It is also mandatory by the Government of India for e-ticketing, e-tendering, e-procurement and trademark filing. The certificate ensures you that your transaction are 100% safe and genuine. The signature certificate also ensures that all your information will be kept confidential and 100% encrypted.

					</p>
					<p>

						VALIDITY:

						You could buy certificates with a validity upto 2 years. (The validity is controlled by law, and you cannot buy certificates more than 2 years and less than One year validity).
					</p>

					<div class="tab-box tab-vertical tab-inverse" data-tab-anima="fade-in">
						<div class="panel active">
							<div class="panel">
								<div class="box-steps box-steps-vertical">
									<div class="step-item">
										<span>1</span>
										<div class="content">
											<h3>Fill Application</h3>
											<div>Arteso ipsum dolor sit amet conse ctetur adipi scing elitsed do more incididunto peto petrullio.</div>
										</div>
									</div>
									<div class="step-item">
										<span>2</span>
										<div class="content">
											<h3>Make Payment</h3>
											<div>Arteso ipsum dolor sit amet conse ctetur adipi scing elitsed do more incididunto peto petrullio.</div>
										</div>
									</div>
									<div class="step-item">
										<span>3</span>
										<div class="content">
											<h3>Receive Confirmation</h3>
											<div>Arteso ipsum dolor sit amet conse ctetur adipi scing elitsed do more incididunto peto petrullio.</div>
										</div>
									</div>
									<div class="step-item">
										<span>4</span>
										<div class="content">
											<h3>Download &amp; Use</h3>
											<div>Arteso ipsum dolor sit amet conse ctetur adipi scing elitsed do more incididunto peto petrullio.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<h3>Benefits on Buying from us</h3>
					<div class="menu-inner menu-inner-vertical">
						<ul>
							<li><a href="#">Cheap Price</a></li>
							<li><a href="#">Low Cost</a></li>
							<li><a href="#">Completely online and paperless process</a></li>
							<li><a href="#">24x7 Support</a></li>
							<li><a href="#">Best turnaround time in the market</a></li>
							<li><a href="#">Quick reissuance and renewals</a></li>
						</ul>
					</div>
					<h3>Where can be Used</h3>
					<div class="menu-inner menu-inner-vertical">
						<ul>
							<li><a href="#">MCA e-filing</a></li>
							<li>
								<a href="#">Income Tax e-filing</a>
							</li>
							<li><a href="#">e-Tendering</a></li>
							<li><a href="#">LLP registration</a></li>
							<li><a href="#">GST application</a></li>
							<li>
								<a href="#">IE code registration</a>
							</li>
							<li><a href="#">Form 16</a></li>
							<li>
								<a href="#">Patent and trademark e-filing</a>
							</li>
							<li>
								<a href="#">Customs e-filing</a>
							</li>
							<li><a href="#">e-Procurement</a></li>
							<li><a href="#">e-Biding</a></li>
							<li><a href="#">e-Auction and more</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-base">
		<div class="container">
			<h3>Our Products</h3>
			<div class="grid-list" data-columns="4" data-columns-md="2" data-columns-sm="1" data-gap="60">
				<div class="grid-box">
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box1" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="Cheap Class 3 Individual Signature Certificate" />
							<div class="caption">
								<h2>Class 3</h2>
								<span>Individual Signature</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Cheap Class 3 Individual Signature Certificate
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Albert Travolta</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Alessia Cort</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Alexa Nigarra</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Sarah Alba</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Alicia Freddy</h2>
								<span>Terapist</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Mara Gomez</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="cnt-box cnt-box-team lightbox" data-href="#user-box" data-lightbox-anima="fade-in">
							<img src="/themekit/media/user.png" alt="" />
							<div class="caption">
								<h2>Erik Pizz</h2>
								<span>Climber</span>
								<span class="icon-links">
									<a href="#" target="_blank"><i class="icon-facebook"></i></a>
									<a href="#" target="_blank"><i class="icon-twitter"></i></a>
									<a href="#" target="_blank"><i class="icon-instagram"></i></a>
								</span>
								<p>
									Lorem ipsum dolor sitamet consectetur eiusmo.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="user-box1" class="box-lightbox-md">
				<h2>Cheap Class 3</h2>
				<h4>Individual Signature Certificate</h4>
				<hr class="space-sm" />
				<p>
					Individual Signature Certificate
				</p>
				<hr class="space-sm" />
				<span class="icon-links icon-links-grid icon-social social-colors">
					<a href="#" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
					<a href="#" target="_blank" class="twitter"><i class="icon-twitter"></i></a>
					<a href="#" target="_blank" class="instagram"><i class="icon-instagram"></i></a>
				</span>
			</div>
		</div>
	</section>

</main>