
<!DOCTYPE html>
<html lang="en">
<head>
	@Html.Partial("_Seo")
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/style.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>


	<header id="header">
		<div class="d-flex site-top site-text">
			<span> <i class='fa fa-phone'></i><a class="site-text-tel" href="tel:+91-9445944601">+91- 9445 9446 01</a></span>
			<span class="cash-pie">|</span>
			<span> <i class='fab fa-whatsapp'></i><a class="site-text-tel" href="https://wa.me/919445944601?text=Reg%20Cheap%20Dsc" target="_blank">+91- 9445 9446 01</a></span>
			<span class="cash-pie">|</span>
			<span><i class="fa fa-envelope"></i><a class="site-text-email" href="mailto:enquiry@cheapdsc.com">enquiry@cheapdsc.com</a></span>

		</div>
		<!-- navbar for webpage -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- navbar brand image on navbar -->
				<a class="navbar-brand mr-auto" href="/"><img src="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png" height="60" width="200" alt="Credit Card to Cash"></a>

				<!-- collapse button in navbar -->
				<button class="navbar-toggler site-top" type="button" data-toggle="collapse" data-target="#Navbar">
					<span class="fa fa-regular fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse" id="Navbar">
					<ul class="navbar-nav ml-auto">
						<!-- navbar list -->
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/">Why Us</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Services" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Products
								<i class="fa fa-angle-down" style="margin: 0 0 0 5px; color: black"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown-Services">
								<a class="dropdown-item" href="~/Product/CheapClass3Dsc">Class 3 Dsc</a>
								<a class="dropdown-item" href="~/Product/CheapDgft">DGFT</a>
								<a class="dropdown-item" href="~/Product/CheapUsbToken">USB Auto Token</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Coverages
								<i class="fa fa-angle-down" style="margin: 0 0 0 5px; color: black"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown-Products">
								@foreach (var eachState in cheapdscin.Helper.States)
								{
									<a class="dropdown-item" href="~/cheap-Class-3-dsc-in-@eachState.Key">@eachState.Value</a>
								}
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="~/about">About</a></li>
						<li class="nav-item"><a class="nav-link" href="~/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	@RenderBody()

	<div class="d-none hide">
		<!-- SEO Starts -->
		
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 w-50">
					<div class="widget">
						<h4> <i class="fa fa-phone-square" style="font-size: 18px;"></i>&nbsp;Contact Details</h4>
						<hr>
						<ul class="link-list">
							<li><i class="fa fa-map-marker"></i><span class="address-location">All over India</span></li>
							<li><i class="fa fa-phone"></i><span dir="ltr"><a href="tel:+91-9445944601">+91- 9445 9446 01</a></span></li>
							<li><i class="fa fa-whatsapp"></i><span dir="ltr"><a href="https://wa.me?919445944601">+91- 9445 9446 01</a></span></li>
						</ul>
					</div>

				</div>

				<div class="col-md-3 w-50">
					<div class="widget">
						<h4><i class="fa fa-bookmark"></i>&nbsp; Quick Links</h4>
						<hr>
						<ul class="link-list">
							<li><i class="fa fa-chevron-right"></i><a href="~/home">Home</a></li>
							<li><i class="fa fa-chevron-right"></i><a href="~/about">About Us</a> </li>
							<li><i class="fa fa-chevron-right"></i><a href="~/Contact">Contact Us</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-3 w-50">
					<div class="widget">
						<h4><i class="fa fa-bookmark"></i>&nbsp; Product</h4>
						<hr>
						<ul class="link-list">
							<li><i class="fa fa-chevron-right"></i><a href="~/Product/CheapClass3Dsc">Cheap Class 3 DSC</a></li>
							<li><i class="fa fa-chevron-right"></i><a href="~/Product/CheapDgft">Cheap DGFT</a> </li>
							<li><i class="fa fa-chevron-right"></i><a href="~/Product/CheapUsbToken">Cheap USB Token</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-3 w-50">
					<div class="widget">
						<h4><i class="fa fa-envelope-open"></i>&nbsp; Our Presence</h4>
						<hr>
						<ul class="link-list">
							<li><i class="fa fa-chevron-right"></i><a target="_blank" href="https://jd.cheapdsc.com?ref=cheapdsc.com">Just Dial</a></li>
							<li><i class="fa fa-chevron-right"></i><a target="_blank" href="https://www.indiamart.com/cheap-dsc/?ref=cheapdsc.com">India Mart</a> </li>
							<li><i class="fa fa-chevron-right"></i><a href="~/contact">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							© 2022 All Rights Reserved. <a>Cheap DSC | A Subsidary Unit of C2C Venture Pvt Ltd</a>
						</div>
					</div>

					<div class="col-md-6 ">
						<ul class="social-icon pull-right">
							<li><a href="https://www.facebook.com/cheapdsc" target="_blank"><i class="fab  fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/cheapdsc" target="_blank"><i class="fab  fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/cheap-dsc/" target="_blank"><i class="fab  fa-linkedin"></i></a></li>
							<li><a href="https://www.youtube.com/watch?v=KoOSplSYmF4" target="_blank"><i class="fab fa-youtube"></i></a></li>
							<li><a href="https://www.instagram.com/explore/tags/cheapdsc/" target="_blank"><i class="fab  fa-instagram"></i></a></li>
							<li><a href="https://in.pinterest.com/cheapdsc/" target="_blank"><i class="fab  fa-pinterest"></i></a></li>
							<li><a href="https://cheapdsc.tumblr.com/" target="_blank"><i class="fab fa-tumblr"></i></a></li>
							<li><a href="https://cheapdsc.blogspot.com/" target="_blank">
								<img src="https://cdn.card2cash.in/uploads/blogger.svg" style="width: 7% !important;align-items: center !important;margin-bottom: 0.8% !important;"></a></li>

							<li><a href="https://wa.me?919445944601" target="_blank"><i class="fab fa-whatsapp"></i></a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js" integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>